{% load static %}

<!--_footer.html-->
<footer class="bg-dark text-light">
    <div class="container navbar-dark pt-2 mt-3">
        <div class="row">
            <div class="col">
                <p >
                    <a href="https://www.linkedin.com/in/gleissonsantos/" target="_blank" style="text-decoration: none;">
                        <i class="fa fa-linkedin-square" aria-hidden="true" style="font-size: 35px; color: #fff;"></i>
                    </a>

                    <a href="https://github.com/gleisson-santos" target="_blank" style="text-decoration: none;">                        
                        <i class="fa fa-github-square" aria-hidden="true" style="font-size: 35px; color: #fff;"></i>
                    </a>
                </p>
            </div>
            <div class="col">
                <p class="text-right">ByShow Gleisson Santos</p>
            </div>
        </div>
    </div>
</footer>
<!--/_footer.html-->


<script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
<script src="{% static 'vendor/jquery/jquery.zoom.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
