{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block titulo %}  {{ post.titulo_post | title}} | {% endblock %}
{% load humanize %}
{% block conteudo %}




<div class="container">

     <!-- POST -->
    <div class="row pt-2">
        <div class="col-xl"></div>
        <div class="col-xl-8 text-center">
            <br>
            <h2>{{ post.titulo_post}}</h2>
            <small>{{ post.autor_post | title}} | {{ post.data_post}} | {{ post.categoria_post}}  </small>
            {% comment %} <h5>{{ post.excerto_post}}</h5> {% endcomment %}
        </div>
        <div class="col-xl"></div>
    </div>


     <!-- SUB POST COM IMAGEM-->
    <div class="row pt-2">
        <div class="col-xl"></div>
        <div class="col-xl-8">
                  
            {% comment %} {% if post.imagem_post %}
                <img class="img-fluid pb-5 custom-image" src="{{ post.imagem_post.url }}" alt="{{ post.titulo_post }}">
                 <img class="img-fluid pb-5 custom-image" src="{{ post.conteudo_post.url }}"> 
            {% endif %} {% endcomment %}

            {% comment %} {% if post.images.all %}
                {% for post_image in post.images.all %}
                    <img class="img-fluid pb-5 custom-image" src="{{ post_image.image.url }}" alt="{{ post.titulo_post }}">
                {% endfor %}
            {% endif %} {% endcomment %}

            {% for post_image in post.images.all %}
                {% if post_image.image %}
                    <a href="{{ post_image.image.url }}" data-lightbox="post-{{ post.id }}">
                        <img class="img-fluid pb-5 custom-image" src="{{ post_image.image.url }}" alt="{{ post.titulo_post }}">
                    </a>
                {% endif %}
            {% endfor %}

            {{ post.conteudo_post | safe}}
            
        </div>        
        <div class="col-xl"></div>
    </div>


    <!-- COMENTARIO -->
    {% if comentarios %}

        <div class="row pt-5">
            <div class="col-xl"></div>
            <div class="col-xl-8">
                <h2 class="my-3">Comentários ({{ comentarios.count }})</h2>

                {% for comentario in comentarios  %}

                    <h5 class="mb-2 mt-5">{{comentario.nome_comentario | title}} comentou:</h5>
                    <small class="text-muted">{{ comentario.data_comentario }}</small>
                    <p class="mb-1"> {{ comentario.comentario }}</p>
        
                {% endfor %}
            </div>
            <div class="col-xl"></div>
        </div>

    {% endif %}
 
{% comment %}         
    <!-- Deixe aqui os Comentarios  -->
    <div class="row pt-5">
        <div class="col-xl"></div>
        <div class="col-xl-8">
            <h2 class="my-3">Deixe um comentário</h2>

            <form method="POST" action="#envia_comentario">
                {% csrf_token %}
                <table class="table">
                    {{ form }}
                    <tr>
                        <td colspan="2">
                            {%  include  'parciais/_messages.html' %}
                            <input id="envia_comentario" type="submit" class="btn btn-primary"
                                value="Enviar">
                        </td>
                    </tr>

                </table>
            </form>
        </div>
         <div class="col-xl"></div>
    </div> {% endcomment %}

{% comment %} <div class="row pt-5">
    <div class="col-xl"></div>
    <div class="col-xl-8">
        <h2 class="my-3">Deixe um comentário</h2>

        <form method="POST" action="#envia_comentario" class="custom-form">
            {% csrf_token %}
            <table class="table">
                {% for field in form %}
                <tr>
                    <td>{{ field.label_tag }}</td>
                    <td>{{ field }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2">
                        {%  include  'parciais/_messages.html' %}
                        <button id="envia_comentario" type="submit" class="btn btn-primary">Enviar</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="col-xl"></div>
</div> {% endcomment %}

<div class="row pt-5">
    <div class="col-xl"></div>
    <div class="col-xl-8">
        <h2 class="my-3">Deixe um comentário</h2>

        <form method="POST" action="#envia_comentario" class="custom-form">
            {% csrf_token %}

            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            {% for visible_field in form.visible_fields %}
                {{ visible_field | as_crispy_field }}
            {% endfor %}

            {%  include  'parciais/_messages.html' %}
            <button id="envia_comentario" type="submit" class="btn btn-primary">Enviar</button>
        </form>

    </div>

    <div class="col-xl"></div>
</div>


</div>
{% endblock %}




