{% extends 'base.html' %}
{% load static %}

{% block titulo %}  {{ post.titulo_post | title}} | {% endblock %}
{% load humanize %}
{% block conteudo %}




<div class="container">

    {% comment %} <br>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img class="d-block w-100" src="{{ post.conteudo_post.url }}" alt="Primeiro Slide" style="width: 500px; height: 500px;">
            </div>
            <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'vendor/imagens/windows_field_grass_operating_system_74340_1280x720.jpg' %}" alt="Segundo Slide" style="width: 500px; height: 500px;">
            </div>
            <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'vendor/imagens/linux_debian_brand_logo_spiral_93908_1280x720.jpg' %}" alt="Terceiro Slide" style="width: 500px; height: 500px;">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div> {% endcomment %}


     <!-- POST -->
    <div class="row pt-2">
        <div class="col-xl"></div>
        <div class="col-xl-8 text-center">
            <br>
            <h2>{{ post.titulo_post}}</h2>
            <small>{{ post.autor_post | title}} | {{ post.data_post}} | {{ post.categoria_post}}  </small>
            {% comment %} <h5>{{ post.excerto_post}}</h5> {% endcomment %}
        </div>
        <div class="col-xl"></div>
    </div>


     <!-- SUB POST COM IMAGEM-->
    <div class="row pt-2">
        <div class="col-xl"></div>
        <div class="col-xl-8">
                  
            {% if post.imagem_post %}
                <img class="img-fluid pb-5 custom-image" src="{{ post.imagem_post.url }}" alt="{{ post.titulo_post }}">
                {% comment %} <img class="img-fluid pb-5 custom-image" src="{{ post.conteudo_post.url }}"> {% endcomment %}
            {% endif %}
            {{ post.conteudo_post | safe}}
        </div>        
        <div class="col-xl"></div>
    </div>



    <!-- COMENTARIO -->
    {% if comentarios %}

        <div class="row pt-5">
            <div class="col-xl"></div>
            <div class="col-xl-8">
                <h2 class="my-3">Comentários ({{ comentarios.count }})</h2>

                {% for comentario in comentarios  %}

                    <h5 class="mb-2 mt-5">{{comentario.nome_comentario | title}} comentou:</h5>
                    <small class="text-muted">{{ comentario.data_comentario }}</small>
                    <p class="mb-1"> {{ comentario.comentario }}</p>
        
                {% endfor %}
            </div>
            <div class="col-xl"></div>
        </div>

    {% endif %}
 
{% comment %}         
    <!-- Deixe aqui os Comentarios  -->
    <div class="row pt-5">
        <div class="col-xl"></div>
        <div class="col-xl-8">
            <h2 class="my-3">Deixe um comentário</h2>

            <form method="POST" action="#envia_comentario">
                {% csrf_token %}
                <table class="table">
                    {{ form }}
                    <tr>
                        <td colspan="2">
                            {%  include  'parciais/_messages.html' %}
                            <input id="envia_comentario" type="submit" class="btn btn-primary"
                                value="Enviar">
                        </td>
                    </tr>

                </table>
            </form>
        </div>
         <div class="col-xl"></div>
    </div> {% endcomment %}

{% comment %} <div class="row pt-5">
    <div class="col-xl"></div>
    <div class="col-xl-8">
        <h2 class="my-3">Deixe um comentário</h2>

        <form method="POST" action="#envia_comentario" class="custom-form">
            {% csrf_token %}
            <table class="table">
                {% for field in form %}
                <tr>
                    <td>{{ field.label_tag }}</td>
                    <td>{{ field }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2">
                        {%  include  'parciais/_messages.html' %}
                        <button id="envia_comentario" type="submit" class="btn btn-primary">Enviar</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="col-xl"></div>
</div> {% endcomment %}

<div class="row pt-5">
    <div class="col-xl"></div>
    <div class="col-xl-8">
        <h2 class="my-3">Deixe um comentário</h2>

        <form method="POST" action="#envia_comentario" class="custom-form">
            {% csrf_token %}

            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            {% for visible_field in form.visible_fields %}
            <div class='form-group'>
                {{ visible_field.label_tag }} <br>
                {{ visible_field }}
                {{ visible_field.errors }}
            </div>
            {% endfor %}

            {%  include  'parciais/_messages.html' %}
            <button id="envia_comentario" type="submit" class="btn btn-primary">Enviar</button>
        </form>

    </div>

    <div class="col-xl"></div>
</div>


</div>
{% endblock %}




